<!--<div class="intro-area " style="background: #0d334e;">-->
  <!--<h2>Be the foundation.</h2>-->
  <!--<div class="container">-->
    <!--<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 same">-->
      <!--<div class="image-area"></div>-->
    <!--</div>-->
    <!--<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 same">-->
      <!--<div class="text-area">-->
        <!--<p class="wow fadeInUp">We’ll help you use life insurance as a means to a better future.</p>-->
        <!--<a class="btn-plan" href="<%=new_legacy_path%>">PLAN YOUR LEGACY</a>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--</header>-->

<header id="header" class="header-img">
  <div class="header-wrap">
    <div class="header-hold">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <h1><a href="#"><img src="<%=image_url('logo.png')%>" alt="logo"></a></h1>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <nav id="nav">
          <ul>
            <% if user_signed_in? %>
                <li class="active"><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
                <li class="active"><a href="#">Signed in as <%= current_user.email %></a></li>
            <% else %>
                <li class="active"><a href="<%=new_user_session_path%>">Login</a></li>
                <li class="active"><a href="<%=new_user_registration_path%>">Signup</a></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
    <div class="intro-area">
      <h2>Be the foundation.</h2>
      <div class="container">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 same">
          <div class="image-area"><!--<img src="images/img5.png" alt="image description">--></div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 same">
          <div class="text-area">
            <p class="wow fadeInUp">We’ll help you use life insurance as a means to a better future.</p>
            <a class="btn-plan" href="<%=new_legacy_path%>">PLAN YOUR LEGACY</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div id="main">
  <div class="landing-area">
    <div class="container">
      <div class="block-hold first">
        <div class="border-hold">
          <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <h2 class="wow fadeInUp">Together, we can make waves</h2>
            <p  class="wow fadeInUp">We have helped over 500 clients within the DC Metro Area to gain a complete understanding of their benefit package.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="block-hold second">
        <div class="main-hold">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 same">
            <div class="image-area"><img src="<%=image_url('img2.png')%>" alt="image description"></div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 same">
            <div class="textbox">
              <h2 class="wow fadeInUp">Protect your legacy</h2>
              <p class="wow fadeInUp">Many Federal Government Employees Start Their Job and have no clue what their benefits are at work until its to late.</p>
              <a href="#" class="btn-get">EBOOK</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="block-hold third">
        <div class="main-hold">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 same">
            <div class="textbox">
              <h2 class="wow fadeInUp">Family is at the heart of
                what we do </h2>
              <p class="wow fadeInUp">Having family health records and geneology
                information available at your loved
                ones finger tips now possible.</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 same">
            <div class="image-area"><img src="<%=image_url('img3.png')%>" alt="image description"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="block-hold second add">
        <div class="main-hold">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 same">
            <div class="image-area"><img src="<%=image_url('img4.png')%>" alt="image description"></div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 same">
            <div class="textbox">
              <h2 class="wow fadeInUp">Inspiring innovation</h2>
              <p class="wow fadeInUp">We aim to simplify the life insurance and retirement
                process for Federal Government Employees.</p>
              <a href="#" class="btn-get">JOIN US</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="block-hold last">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h2 class="wow fadeInUp">We want to welcome you to the new age of Life insurance</h2>
          <p class="wow fadeInUp">You will never look back</p>
          <a class="btn-get" href="#">GET STARTED</a>
        </div>
      </div>
    </div>
  </div>
</div>



<p id="notice"><%= notice %>
<script>

    wow = new WOW(
            {
                animateClass: 'animated',
                offset:       200,
                callback:     function(box) {
                    console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
                }
            }
    );
    wow.init();
</script>