<%= simple_form_for @legacy  do   |f| %>
    <div style="background: #0d334e">

      <div class="form-block">
        <div id="rootwizard">
          <div class="navbar hidden">
            <div class="navbar-inner">
              <div class="container">
                <ul>
                  <li class="hidden"><a href="#tab1" data-toggle="tab"></a></li>
                  <li class="hidden"><a href="#tab2" data-toggle="tab"></a></li>
                  <li class="hidden"><a href="#tab3" data-toggle="tab"></a></li>
                  <li class="hidden"><a href="#tab4" data-toggle="tab"></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="tab-content">

            <div class="tab-pane" id="tab1">

              <div class="block2">
                <h3 class="text text-center" style="    margin-left: 37%;margin-bottom: 90px;">Plan Your Legacy.</h3>

                <div class="container">
                  <div class="year-block">
                                <span class="down">
                                <span class="text">I am </span>
                                <div class="hold"> <%= f.input :age, id: 'age' ,label: false %></div>
                                <span class="text"> years old, </span>
                                <div class="select-hold">
                                  <%= f.select(:gender, Legacy.genders.keys.map {|role| [role.titleize,role]}) %>
                                </div>
                                </span>
                                <span class="down">

                                <span class="text"> and I am </span>
                                <div class="select-hold" style="width: 146px;">
                                  <%= f.select(:relationship_status, Legacy.relationship_statuses.keys.map {|role| [role.titleize,role]}) %>
                                </div>
                                </span>
                    <!--<li class="button-area next">-->
                    <!--<input type="button" value="Continue">-->
                    <!--</li>-->
                    <ul class="pager wizard ">
                      <!--<li class="previous button"><input type="button" value="Continue"></li>-->
                      <br>
                      <br>
                      <li class="next button"><input type="button" value="Continue"></li>
                    </ul>
                  </div>
                </div>
              </div>


            </div>
            <div class="tab-pane" id="tab2">
              <div class="block1">
                <h3 class="text text-center" style="    margin-left: 37%;margin-bottom: 90px;">Plan Your Legacy.</h3>
                <div class="container">
                  <ul class="controls-list">
                    <li>
                      <!--<input id="chk1" type="checkbox" />-->
                      <%= f.check_box :smoker, id:'smoker' %>
                      <label for="chk1">I don’t Smoke </label>
                    </li>
                    <li>
                      <input id="chk2" type="checkbox" />
                      <label for="chk2">I have no health concerns</label>
                    </li>
                    <li>
                      <input id="chk3" type="checkbox" />
                      <label for="chk3">I have recently lost weight</label>
                    </li>

                    <!--<li><input type="button" value="Continue"></li>-->
                    <ul class="pager wizard ">
                      <li class="next button" id="request"><input type="button" value="Continue" ></li>
                      <!--<li class="previous button"><input type="button" value="Previous"></li>-->

                    </ul>

                  </ul>

                </div>
              </div>

            </div>
            <div class="tab-pane" id="tab3" style="background-color: #ffffff;">

              <div class="quote-area">
                <div class="container">
                  <div class="left-area">
                    <div class="lagacy-area">
                      <div class="hold">
                        <strong class="title">Legacy Advice</strong>
                        <p>With a house and kids there is a huge need for a large term policy with a coverage amount of</p>
                        <span class="prices" id="coverage-ammount-show">error</span>
                      </div>
                    </div>

                    <div class="block1">
                      <div class="coveragebox">
                        <span>Coverage amount</span>
                        <a href="#" class="amount-btn">$ 100,000</a>

                      </div>

                      <div class="coveragebox">
                        <span>Coverage amount</span>
                        <a href="#" class="amount-btn">$ 100,000</a>

                      </div>

                      <div class="coveragebox">
                        <span>Coverage amount</span>
                        <a href="#" class="amount-btn">$ 100,000</a>

                      </div>


                    </div>
                    <div class="right-area">
                      <h4>Monthly Payment</h4>
                      <span class="price" id="monthly-price">Error</span>
                      <ul class="pager wizard ">
                        <li class="next button " id="request"> <input type="button" value="Get" class="btn-get" ></li>
                        <!--<li class="previous button"><input type="button" value="Previous"></li>-->

                      </ul>
                      <!--<a class="btn-get next button" href="#">GET</a>-->

                    </div>
                  </div>
                </div>
                </div>
              <%= f.hidden_field :coverage_amount%>
              <%= f.hidden_field :monthly_amount%>
              <%= f.hidden_field :insurance_years%>
            </div>

            <div class="tab-pane" id="tab4" style="background-color: #ffffff;">
              <%= f.simple_fields_for :owner  do |owner|%>
              <div id="main">
                <header class="head"><h2>Tell us about yourself</h2></header>
                <div class="form-block">
                  <div class="userinfo-form bankinfo-form">
                    <div class="container">
                      <div class="hold-area">
                        <h3>Policy Owner</h3>
                        <div class="row">
                          <%= owner.input :name ,label: false ,:placeholder=>"Owner Name"%>
                          <!--<input type="text" placeholder="Your Name">-->
                        </div>
                        <div class="row">
                          <%= owner.input :dob ,:as=> 'string',label: false ,input_html: { class: 'datepicker' },:placeholder=>"Date of Birth"%>
                          <!--<input type="text" placeholder="Date of Birth">-->
                        </div>
                        <div class="row">
                          <div class="col">
                            <%= owner.input :snn ,label: false ,:placeholder=>"SNN"%>
                            <!--<input type="text" placeholder="SNN">-->
                          </div>
                          <div class="col">
                            <%= owner.input :adress ,label: false ,:placeholder=>"Address"%>
                            <!--<input type="text" placeholder="Address">-->
                          </div>
                          <div class="col">
                            <%= owner.input :lisence ,label: false ,:placeholder=>"Owner Drivers #"%>
                            <!--<input type="text" placeholder="Owner Drivers #">-->
                          </div>
                          <div class="col">
                            <%= owner.input :exp ,:as=> 'string',label: false ,input_html: { class: 'datepicker' },:placeholder=>"Exp"%>


                            <!--<input type="text" placeholder="Exp">-->
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <%= owner.input :government ,label: false ,:placeholder=>"Government"%>
                            <!--<input type="text" placeholder="Government">-->
                          </div>
                          <div class="col">
                            <%= owner.input :job_title ,label: false ,:placeholder=>"Job Title"%>
                            <!--<input type="text" placeholder="Job Title">-->
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <%= owner.input :salary ,label: false ,:placeholder=>"Salary"%>
                            <!--<input type="text" placeholder="Salary">-->
                          </div>
                          <div class="col">

                            <%= owner.input :date_of_hire ,:as=> 'string',label: false ,input_html: { class: 'datepicker' },:placeholder=>"Date of Hire"%>

                            <!--<input type="text" placeholder="Date of Hire">-->
                          </div>
                        </div>
                        <div id="beneficiaries">
                          <%= owner.simple_fields_for :beneficiaries do |ben| %>
                          <%= render 'beneficiary_fields', f: ben %>
                          <div class="row add">
                            <div class="btn-plus">
                              <img src="<%=image_url('btn-plus.png')%>" alt="image description">
                            </div>

                            <div class="links hidden">
                             <%= link_to_add_association "add more", owner, :beneficiaries ,id:"addmore"%>
                            </div>
                          </div>
                        <div class="row add">
                          <input type="submit" value="Done">
                        </div>
                      </div>
                          <%end%>

                    </div>
                  </div>
                </div>
              </div>
              <%end%>

            </div>



          </div>


          </div>

          <!--<ul class="pager wizard ">-->
          <!--<li class="previous button"><a href="#">Previous</a></li>-->
          <!--<li class="next button"><a href="#">Continue</a></li>-->
          <!--</ul>-->

        </div>
      </div>

    </div>



<% end %>



<script>

    $(document).ready(function () {
//        jcf.customForms.replaceAll();
//        $("#legacy_gender").blur();
    $('#rootwizard').bootstrapWizard();

    $( function() {
      var slider1 = $( "#slider1" ).slider({
            orientation: "vertical",
            value: 100,
            min: 50000,
            max: 1000000,
            step: 10000,
            slide: function( event, ui ) {
                $( "#amount" ).val(  ui.value );
                $('#request').trigger("click");
            }
        });
        $( "#amount" ).val( null );
    } );

    $( function() {
        var slider2 =  $( "#slider2" ).slider({
            orientation: "vertical",
            value:10,
            min: 10,
            max: 100,
            step: 10,
            slide: function( event, ui ) {
                $( "#year" ).val(ui.value );
            }
        });
        $( "#year" ).val(  $( "#slider2" ).slider( "value" ) );
    } );


});

</script>

<script>

    jQuery(document).ready(function($){


        $('#request').on('click', function(){

            var age = $("#legacy_age").val();
            var relationship = $("#legacy_relationship_status").val();
            var gender = $("#legacy_gender").val();
            var coverage = $("#amount").val();
            //alert(gender);
            var smoker = "true";
            if ($("#smoker").is(':checked'))
                smoker = "false";
//            alert(age +" --"+relationship+"--"+gender +"--"+smoker);
            var data = { 'age': age, 'relationship_status': relationship, 'smoker': smoker ,'gender': gender ,'coverage': coverage};
            $.ajax({
                type: "POST",
                url: '/calculate_amount',
                data: data,
                /**
                 * Response from your controller
                 */
                success: function(response) {
//                    $("#age").val(age);

                }

            });

            return false; // prevents normal behaviour
        });
    });



</script>
